/* News block */
a[href$="inline_block%3Anews"]:before {
  background-image: url("../icons/news.svg") !important;
}

/* News list teaser */
a[href$="views_block%3Anews-block_news_teaser"]:before {
  background-image: url("../icons/news-list-teaser.svg") !important;
}

/* News list list */
a[href$="views_block%3Anews-block_news_list"]:before {
  background-image: url("../icons/news-list-list.svg") !important;
}
