{% set preamble = content.field_news_preamble|render|striptags %}
{% set createdDate = node.getCreatedTime|date %}

<article{{ attributes }}>
  <a class="group" href="{{ url }}" aria-label="{{ label["#object"].title.0.value }}">
    {% if content.field_news_image is not empty %}
      <div class="relative">
        <figure class="flex flex-col mb-4 overflow-hidden">
          {{ content.field_news_image }}
        </figure>
      </div>
    {% endif %}

    <div class="flex flex-col items-start">
      {{ title_prefix }}
      <h2
        class="text-lg mb-2 font-bold transition text-blue-900 hover:text-blue-700 group-hover:text-blue-700 group-hover:underline group-focus:underline"
      >
        {{ label["#object"].title.0.value }}
      </h2>
      {{ title_suffix }}

      <div class="order-first text-xs text-gray-900 mb-2">
        <span class="sr-only">{{ 'Published'|t }} </span>{{ createdDate|date('F j, Y') }}
      </div>

      <p class="text-sm text-gray-700 font-preamble">
        {{ preamble|length > 200 ? preamble|slice(0, 150) ~ '...' : preamble }}
      </p>
    </div>
  </a>
</article>
