{% set preamble = content.field_news_preamble|render|striptags %}
{% set createdDate = node.getCreatedTime|date %}

<article{{ attributes }}>
  <a class="group flex flex-col transition" href="{{ url }}" aria-label="{{ label["#object"].title.0.value }}">

    <div class="flex">
      {% if content.field_news_image is not empty %}
        <div class="relative mr-4">
          <figure class="flex flex-col w-16 h-16 md:w-24 md:h-24">
            {{ content.field_news_image }}
          </figure>
        </div>
      {% endif %}
      <div class="flex flex-col max-w-screen-md items-start">
        <h2
          class="text-lg font-bold transition text-blue-900 hover:text-blue-700 group-hover:text-blue-700 group-hover:underline group-focus:underline"
        >
          {{ label["#object"].title.0.value }}
        </h2>
        <div class="order-first text-xs text-gray-900 mb-1">
          <span class="sr-only">{{ 'Publish'|t }} </span>{{ createdDate|date('F j, Y') }}
        </div>
        <p class="text-gray-700 font-preamble">
          {{ preamble|length > 200 ? preamble|slice(0, 150) ~ '...' : preamble }}
        </p>
      </div>
    </div>

    {{ title_prefix }}
    {{ title_suffix }}
  </a>
</article>
