{% set classes = [
    'container',
    'mx-auto',
    'my-12',
    'md:max-w-screen-sm',
    'md:my-24',
    'lg:max-w-screen-md',
  ]
%}

{% set createdDate = node.getCreatedTime|date %}
{% set modifiedDate = node.getChangedTime|date %}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  <div class="mb-4 md:mb-6 lg:mb-8">
    <h1 id="h1id" class="text-gray-900 font-bold text-2xl md:text-3xl lg:text-5xl">{{ label }}</h1>
  </div>
  {{ title_suffix }}

  <p class="text-lg text-gray-700 mb-4 md:mb-6 md:text-xl lg:mb-8 lg:text-2xl">
    {{ content.field_news_preamble.0 }}
  </p>

  <div class="flex items-center mb-4 md:mb-6 lg:mb-8">
    {% if author_picture %}
      {{ author_picture }}
    {% endif %}
    <div{{ author_attributes.addClass('text-gray-600') }}>
      <span class="capitalize">{{ 'By'|t }} {{ author_name }}</span> – <span class="sr-only">{{ 'Published'|t }} </span>{{ createdDate|date('F j, Y') }}
    </div>
  </div>

  {% if content.field_news_image is not empty %}
    <figure class="flex flex-col w-full mb-5 md:mb-6 lg:mb-8">
      <div class="mb-2">
        {{ content.field_news_image }}
      </div>
      <figcaption class="flex text-gray-600 justify-between">
        <span>{{ content.field_news_image_byline }}</span>
        <span class="flex flex-shrink-0 text-right">{{ 'Photographer'|t }}:<span class="ml-1">{{ content.field_news_image_photographer }}</span></span>
      </figcaption>
    </figure>
  {% endif %}
  <div class="mb-4 md:mb-6 lg:mb-8">
    {{ content.field_news_body }}
  </div>
  <div class="text-gray-600">
    <span class="">{{ 'Updated'|t }} </span><span>{{ modifiedDate|date('F j, Y') }}</span>
  </div>
</article>
