{# Decide layout based on view mode #}
{% set layoutClasses = rows.0.content["#view_mode"] == 'news_teaser' ? 'grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3' : 'space-y-6' %}

<div class="{{ layoutClasses }}">
  {% for row in rows %}
    <div{{ row.attributes.addClass(rowClasses) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>

{#<div class="container my-12 md:my-24">#}
{#  <h1 class="font-bold mb-4 text-2xl leading-snug md:text-3xl mb:mb-6 md:leading-snug lg:mb-8 lg:text-4xl lg:leading-snug xl:text-5xl xl:leading-snug">{{ view.title }}</h1>#}
{#</div>#}
